@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype'),
        url('../fonts/Oswald-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
}

$title-font: 'Oswald', sans-serif;
$text-font: 'Inter', sans-serif;
$menu-font: 'Open Sans', sans-serif;

html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

body .noscroll {
    overflow: hidden;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    display: block;
    
    text-decoration: none;
    color: inherit;
}

.page {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    overflow: hidden;

    font-family: $text-font;
}

.header {
    height: 184px;

    background: url('../img/header-bg.png') center no-repeat;
    background-size: cover;

    position: relative;

    color: #fff;
    text-transform: uppercase;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 2;
}

.header__label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 21px;
}

.title {
    font-family: $title-font;
    font-size: 41px;
}

.subtitle {
    color: rgba(#fff, 0.8);
}

.header__info {
    padding-right: 180px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__contacts {
    text-align: right;
}

.phone {
    font-family: $title-font;
    font-size: 29px;
}

.address {
    color: rgba(#fff, 0.8);
}

.button {
    width: 204px;
    height: 60px;
    padding: 1.2em;

    background-color: #fff;
    border-radius: 3px;

    color: #212121;
    text-transform: none;
    text-align: center;
}

.header__button {
    margin-left: 30px;
}

.icon__social {
    margin-left: 16px;
}

.social__text  {
    display: none;
}


.header__blocks {
    position: absolute;
    right: 0;
    top: -140px;
    z-index: 1;

    display: grid;
    grid-template-columns: 148px 148px 148px;
    grid-auto-rows: 148px;
    gap: 5px;

    transform: rotate(45deg);
}

.block__item {
    overflow: hidden;

    border-radius: 5px;
    border: 1px solid #fff;

    &:first-child,
    &:nth-child(9),
    &:last-child {
        border: none;
    }
}

.menu__desktop {
    height: 48px;

    font-family: $menu-font;

    background: linear-gradient(to bottom, #003471, #212121);

    position: relative;
    z-index: 2;
}

.desktop-nav {
    width: 100%;
    max-width: 760px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-nav__link {
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}

.desktop-nav__link.active {
    color: rgba(#fff, 0.6);
}

.menu__mobile {
    display: none;
}

@media (max-width: 321px) {
    .header {
        height: 512px;
        margin-top: 60px;
        padding-top: 26px;
    }

    .header__container {
        flex-direction: column;
        justify-content: start;
    }

    .header__label {
        margin-bottom: 30px;
    }

    .logo {
        width: 51px;
        height: 59px;
        margin-right: 13px;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 13px;
    }

    .header__info {
        padding: 0;
        flex-direction: column;
    }

    .header__contacts {
        text-align: center;
    }

    .phone {
        margin-left: 0;
        margin-bottom: 15px;
        font-size: 23px;
    }

    .address {
        margin-bottom: 20px;
        font-size: 11px;
    }

    .header__button {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .icon__social {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social__text {
        margin-left: 10px;
        display: block;

        text-transform: none;
        color: rgba(#fff, 0.8)
    }

    .menu__desktop {
        display: none;
    }

    .menu__mobile {
        width: 100%;
        max-width: 320px;
        height: 60px;

        background-color: #fff;

        display: flex;
        justify-content: right;
        align-items: center;

        position: fixed;
        z-index: 3;
        top: 0;
    }

    .menu__icon {
        margin-right: 20px;

        position: relative;
    }

    .menu__icon sup {
        width: 17px;
        height: 17px;
        padding: 1px;

        position: absolute;
        top: 8px;
        left: 27px;

        background-color: #ec9b44;
        border-radius: 50%;

        text-align: center;
    }

    .menu__burger {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        padding: 15px;

        &:hover {
            cursor: pointer;
        }

        & span {
            width: 30px;
            height: 4px;

            display: block;
            position: relative;
            
            background-color: #000;
            font-size: 0;
        }

        & span:before,
        & span:after {
            content: '';
            width: 30px;
            height: 4px;

            display: block;
            position: absolute;

            background-color: #000;
        }

        & span:before {
            top: -10px;
        }

        & span:after {
            bottom: -10px;
        }

        &.close span {
            height: 0;
        }

        &.close span:before {
            top: -2px;
            transform: rotate(45deg);
        }

        &.close span:after {
            bottom: -2px;
            transform: rotate(-45deg);
        }
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav.active {
        padding: 20px;

        display: flex;
        flex-direction: column;
        background-color: #fff;

        position: absolute;
        top: 40px;
    }

    .mobile-nav__link {
        margin-bottom: 10px;
    }

    .header__blocks {
        top: 155px;
        right: -120px;
        transform: rotate(-135deg);
    }
}
